<?xml version="1.0"?>
<appSettings>
  <add key="SMTPServer" value="MailA58"/>
  <add key="ThumbnailWidth" value="208"/>
  <add key="PhotoWidth" value="980"/>
  <add key="DefaultEmail" value="Michael@micnets.com"/>
  <add key="AnonymousEmail" value="webmaster@micnets.com"/>
  <add key="IsErrorEmailLog" value="Y"/>
  <add key="Domain" value="http://www.micnets.com"/>
  <add key="ServicePassword" value="KFC"/>
  <add key="URL_EmailServer" value="http://www.micnets.com/WebService/EmailServer.asmx"/>
  <add key="applicationPath" value="~/"/>
  <add key="GoogleAPIKey" value="ABQIAAAA8E_mOCTXYj3Y8rLfO8axtBTLOM9vYFSJ_Zc5KvLr7fzoPHumkhTBsi29ZcJEIXn7nq-mosxMR-7U1w"/>
  <add key="GoogleSearchKey" value="016305046753552859283:cknwzjqfiw0"/>
  <add key="Enviorment" value="PRO"/>
</appSettings>
