<?xml version="1.0"?>
<customErrors mode="On" defaultRedirect="~/Blog/ErrorHandler.aspx">
  <error statusCode="403" redirect="~/Blog/ErrorHandler.aspx?statusCode=403"/>
  <error statusCode="404" redirect="~/Blog/ErrorHandler.aspx?statusCode=404"/>
  <error statusCode="500" redirect="~/Blog/ErrorHandler.aspx?statusCode=500"/>
</customErrors>   

