<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SMTPServer" value="MailA58"/>
    <add key="ThumbnailWidth" value="208"/>
    <add key="PhotoWidth" value="980"/>
    <add key="DefaultEmail" value="Michael@micnets.com"/>
    <add key="AnonymousEmail" value="webmaster@micnets.com"/>
    <add key="IsErrorEmailLog" value="N"/>
    <add key="Domain" value="http://www.micnets.com"/>
    <add key="ServicePassword" value="KFC"/>
    <add key="URL_EmailServer" value="http://www.micnets.com/WebService/EmailServer.asmx"/>
    <add key="applicationPath" value="~/"/>
    <add key="GoogleAPIKey" value="ABQIAAAA8E_mOCTXYj3Y8rLfO8axtBTLOM9vYFSJ_Zc5KvLr7fzoPHumkhTBsi29ZcJEIXn7nq-mosxMR-7U1w"/>
    <add key="GoogleSearchKey" value="016305046753552859283:cknwzjqfiw0"/>
    <add key="Enviorment" value="DEV"/>
  </appSettings>
  <connectionStrings>
    <add name="MicnetsCon" connectionString="Data Source=(local);Initial Catalog=MicNets;Integrated Security=True"/>
    <!--<add name="MicnetsCon" connectionString="Data Source=SQLB9.webcontrolcenter.com;Initial Catalog=micnets;password=730615;user id=sa_user"/>-->
  </connectionStrings>
  <system.web>
    <globalization culture="auto" enableBestFitResponseEncoding="false" enableClientBasedCulture="false" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" responseHeaderEncoding="utf-8" uiCulture="auto"/>
    <!--<healthMonitoring>
      <providers>
        <add name="CriticalMailEventProvider" type="System.Web.Management.SimpleMailWebProvider,lll" />
      </providers>
      <rules>
        <add name="All Errors by Email" eventName="All Errors" provider="CriticalMailEventProvider"/>
      </rules>
      
    </healthMonitoring>-->
    <sessionState mode="InProc" cookieless="UseCookies" timeout="20"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Blog/Login.aspx" timeout="20"/>
    </authentication>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <urlMappings>
      <add url="~/Index.aspx" mappedUrl="~/Default.aspx"/>
      <add url="~/Index.html" mappedUrl="~/Default.aspx"/>
    </urlMappings>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="mail.micnets.com" port="8889"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>